<tr class="table-body">
    <td><a href="/thread/{{_id}}" class="topic">{{title}}</a></td>
    <td><a href="/user/{{username}}">{{username}}</a></td>
    <td class="postTime">{{dateFormat dateCreated "L, LT "}}</td>
</tr>