<tr class="table-body">
    <td class="topic"><a href="/thread/{{_id}}" >{{title}}</a></td>
    <td class="user"><a href="/user/{{username}}" >{{username}}</a></td>
    <td class="postTime">{{dateFormat dateCreated "L, LT "}}</td>
</tr>
