
<link rel="stylesheet" type="text/css" href="/css/createthread.css" />
<div id="pageHeader">
    <h1>Edit Thread</h1>
    <div class="break"></div>
</div>
    <div id="sub-container">
        <div class="postTab flex">
          <div class="tabColumn">
            <h3>Thread</h3>
          </div>
        </div>
        <div class="formBox">
          <form id="threadForm" method="POST"  action="/postEditThread/{{thread._id}}/">
            <div class="titleArea">
              <input type="hidden" value="{{thread._id}}" name="threadID" id="threadID" />
              <input required type="text" id="threadTitle" name="threadTitle"  value="{{thread.title}}">
            </div>
            <div id="contentArea" class="displayBlock">
              <textarea required id="threadContent" name="threadContent" class="textAreaSize">{{thread.content}}</textarea>
              {{> messages}}
              <input type="submit" id="postBtn" value="Edit"></input>
              <a href="/thread/{{thread._id}}" id="cancelBtn">Cancel</a>
            </div>
          </form>
        </div>
        <br><br>
      </div>