<div id="thread-header">
    <div id="topic"><a href="/thread/{{title}}">{{title}}</a></div>
</div>
<div id="thread">
    <div class="flex">
        <div class="author">
            <div class="profile"><a href="/user/{{username}}">{{username}}</a></div>
            <img src="" alt="">
            <div class="count">\{{postcount}}Threads: 1</div>
        </div>

        <div class="thread-content">
            <p id="thread-edit">
              {{content}}
            </p>
            <p class="image-video">
              
            </p>
            <br />
            <hr />
            <div class="bottom">
              <p class="timestamp">
                <i class="fa fa-clock-o"></i>
                {{dateCreated}}
              </p>
              <button class="edit-btn" id="editBtn">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
              <button class="delete-btn" id="deleteBtn">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
              <button class="done-btn" id="doneBtn">
                <i class="fa fa-check" aria-hidden="true"></i>
              </button>
              <br>
              <button class="reply-btn" id="replyBtn">Reply</button>
            </div>
            <div class="write-comment" id="write-comment">
              <div class="block">
                <form id="threadForm" method="POST" action="/thread/{{title}}/addComment" enctype="multipart/form-data">
                  <input type="hidden" value="{{_id}}" name="threadID" id="threadID" />
                  <textarea id="comment-text" name="commentContent" placeholder="What are your thoughts...?"
                    required></textarea>
                  <h3 id="message">{{> messages}}</h3>
                  <button type="submit" id="submitBtn">Submit</button>
                  <button id="cancelBtn">Cancel</button>
                </form>
              </div>
            </div>
        </div>
     </div>
</div>

<div class="comment-section">
    Comment Section
</div>

<div class="comment-main-container" id="commentBox">
    {{#each comments}}
        {{> comment}}
    {{/each}}
</div>