<section id="profile">
    <img src="/images/{{user.img}}" id="profileImg" alt="{{user.username}} display picture"/>
    <div id="profile-name">
        <h1>{{user.username}}</h1>
        {{#sameUser session.username user.username}}
        {{/sameUser}}
    </div>
    <div id="userDesc">
        <p>{{user.description}}</p>
    </div>
    
</section>
<br>
<div id="pageHeader">
    <a href="/user/{{user.username}}">{{user.username}}'s Threads</a>
    {{#if session.isLoggedIn}}
        <a href="/createThread" class="newpost">New Thread &nbsp;<i class="fa fa-plus-square" aria-hidden="true"></i></a>
    {{/if}}
</div>
<div class="block">
    <table>
        <tr class="forum-header">
            <td>Forum Topics</td>
            <td>Published By</td>
            <td>Date Published</td>
        </tr>
        {{#each threads}}
            {{> userThread}}
        {{/each}}
    </table>
</div>